
{{ $thissection := .Section }}


{{ if eq $thissection "news" }}
 
    {{- $news := resources.Get "css/news.css" }}
    {{ $news = $news | fingerprint }}
    <link rel="stylesheet" href="{{ $news.RelPermalink }}">

  {{ else }}

    {{ with resources.Get "css/styles.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}


{{ end }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

{{ if eq .Params.animation "izmir" }}
  <link href=" https://cdn.jsdelivr.net/npm/@ciar4n/izmir@1.0.1/izmir.min.css " rel="stylesheet">
{{ end }}

  {{ with .Params.css }}
    <style>
      {{ range . }}
        {{ . | safeCSS }}
      {{ end }}
    </style>
  {{ end }}

  {{ with .Params.style }}
    <style>
        {{ . | safeCSS }}
    </style>
  {{ end }}