<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- A comment by me -->

{{ partial "head/favicon.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}