:root {
  --border-color: green;
}

body {
  color: #ddd;
  background-color: #110f24;
  font-family: segoe ui, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  margin: 1rem auto;
  min-height: calc(100vh - 2rem);
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;

  & nav ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
    padding: 0;
  }
}

footer {
  border-top: 1px solid var(--border-color);
  margin-top: auto;
}

a {
  color: rgb(45, 132, 254);
  text-decoration: none;
}

a.ancestor,
a.active {
  border-bottom-width: 6px;
  border-bottom-color: greenyellow;
  padding-bottom: 6px;
}

a.ancestor {
  border-bottom-style: dotted;
}
a.active {
  border-bottom-style: solid;
}
