    <article class="post">
      <a href="{{ .RelPermalink }}">
      <h2>
          {{ .LinkTitle }}
        </h2>
        {{ if or (eq .Section "posts" ) (eq .Section "news") }}
        <time>{{ .Date.Format "02 Jan 06" }}</time>
          
        {{ end }}
        <p>{{ .Summary }}</p>
      </a>
    </article>