<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ .Section }} {{ .Kind }}-kind">
  <div class="wrapper">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="main-{{ .Section }}">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
