{{ define "main" }}

<h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="articles">

    {{ $posts := where site.RegularPages "Section" "posts" }}
    {{ $news := where site.RegularPages "Section" "news" }}
    {{ $all := slice $posts $news }}
    {{ range first 12 (where site.RegularPages "Kind" "page") }}
    {{ .Render "article" }}
    {{ end }}
  </div>


  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  </script>
{{ end }}
