{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <div class="time">
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ partial "breadcrumbs" . }}
  </div>

  {{ with .Params.page_img }}
  {{ $image := resources.Get . }}
  <div class="page-img">
    <img src="{{ $image.RelPermalink }}" alt="{{ . }}">
  </div>
  {{ end }}

  <div class="content">{{ .Content }}</div>

  
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  
  {{ with .Params.links }}
  <div class="links">
    <h2>Links</h2>
    {{ range . }}
    <a href="{{ .url }}">{{ .name }}</a><br>
    {{ end }}
  </div>
  {{ end }}
  
  {{ partial "prev-next" . }}

{{ end }}
