{{ define "main" }}

<style>
    .wrapper main {
        display: block;
        columns: 6 300px;
    }
    .news-item {
        column-span: 1;

        & h2 {
            break-inside: avoid;
        }
    }
    .news-item:not(:first-of-type) {
        margin-top: 1.5em;
    }
    
</style>

{{ $bundle := .Resources.Match "*.md*"  }}
{{ $count := 0 }}


{{ range $bundle }}

{{ $count = add $count 1 }}
        <article class="news-item article-{{ $count }} {{ .File.ContentBaseName | lower }}  {{ with .Params.feature -}} feature {{- end }}">
        
        {{/*  {{ with .Resources.Match "*.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}  */}}
        
        
        <h2>{{ .Title }}</h2>

        <p class="summary">{{ .Summary }}</p>

            {{ .Content }}
        </article>
{{ end }}


{{ end }}