{{ define "main" }}

{{ $bundle := .Resources.Match "*.md*"  }}
{{ $count := 0 }}


{{ range $bundle }}

{{ $count = add $count 1 }}
        <article class="news-item article-{{ $count }} {{ with .Params.feature -}} feature {{- end }}">
        
        {{/*  {{ with .Resources.Match "*.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}  */}}
        
        
        <h2>{{ .Title }}</h2>

        <p class="summary">{{ .Summary }}</p>

            {{ .Content }}
        </article>
{{ end }}


{{ end }}