{{ define "main" }}

{{ $bundle := site.GetPage "page" "test-page" }}

{{ $count := 0 }}


{{/*  Probably need to change the line below to grab all resources then refine lower down  */}}

  {{ range $bundle.Resources.ByType "page" }}

  {{ $count = add $count 1 }}
  <article class="news-item article-{{ $count }} {{ with .Params.feature -}} feature {{- end }}">
      
      {{ with .Resources.Match "*.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
      {{ end }}
      
      
      <h2>{{ .Title }}</h2>

      <p class="summary">{{ .Summary }}</p>

          {{ .Content }}
      </article>
  {{ end }}


{{ end }}