
:root {
    --black: #181818;
    --link: darkred;
    --heading-font: 'Arial Black', Impact, Verdana;
}

body {
    color: var(--black);
    background-color: beige;
    font-family: georgia, serif;
    line-height: 1.4;
}

.wrapper {
    min-height: calc(100vh -  2em);
    display: grid;
    grid-template-columns:  repeat(10, minmax(100px, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 1em;
}
main {
    margin-top: 2em;
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: subgrid;
}

article {
    grid-column: span 2;
    margin-bottom: 2em;
    
    & p {
        margin: 0;
    }
    & p+p {
        text-indent: 1em;
    }
}

article.feature {
    grid-column: span 4;
}

header,
footer {
    grid-column: 2 / -2 ;
    display: grid;
    grid-template-columns: subgrid;
}

footer {
    border-top: solid 1px var(--black);
}
.site-title {
    grid-column: span 10;
    font-family: arvo, serif;
    font-weight: bold;
    font-size: 7em;
}

nav.main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    & ul {
        margin: 0;
        display: flex;
    gap: 2em;
    list-style-type: none;
    padding: 0;
    font-family: var(--heading-font);
    font-size: 1.25em;
    }
}


.copyright,
.updated {
    grid-column: span 2;
}

.login {
    grid-column: 9/10;
}


.summary {
    font-weight: bold;
}

h2 {
    margin: 0 auto 0.25em auto;
    font-family: var(--heading-font);
    font-size: 2em;
    line-height: 1;
    text-wrap: balance;
}

a {
    text-decoration: none;
    color: var(--link);
}