*, 
*::before,
*::after {
  box-sizing: border-box;
}

:root {
	--white: #ddd;
	--black: #333;
	--turquoise: rgb(116, 128, 126);
	--red: hwb(0 0% 46%);
	--bodyColor: var(--black);
	--linkColor: var(--black);
	--borderColor: var(--bodyColor);
	--accentColor: var(--red);
	--border-width: 2px;
	--bgColor: var(--turquoise);
	--headerFont: 'Saira Extra Condensed', sans-serif;

 /* Step -2: 7.50px → 10.00px */
  --step--2: clamp(0.4688rem, 0.4375rem + 0.1563vw, 0.625rem);

  /* Step -1: 10.61px → 14.14px */
  --step--1: clamp(0.6631rem, 0.619rem + 0.2206vw, 0.8838rem);

  /* Step 0: 15.00px → 20.00px */
  --step-0: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);

  /* Step 1: 21.21px → 28.28px */
  --step-1: clamp(1.3256rem, 1.2373rem + 0.4419vw, 1.7675rem);

  /* Step 2: 29.99px → 39.99px */
  --step-2: clamp(1.8744rem, 1.7494rem + 0.625vw, 2.4994rem);

  /* Step 3: 42.41px → 56.54px */
  --step-3: clamp(2.6506rem, 2.474rem + 0.8831vw, 3.5338rem);

  /* Step 4: 59.96px → 79.95px */
  --step-4: clamp(3.7475rem, 3.4976rem + 1.2494vw, 4.9969rem);

  /* Step 5: 84.79px → 113.05px */
  --step-5: clamp(5.2994rem, 4.9461rem + 1.7662vw, 7.0656rem);



  /* Heading font sizing */

  /* @link https://utopia.fyi/type/calculator?c=320,20,1.25,1240,30,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -2: 12.80px → 19.20px */
  --heading--2: clamp(0.8rem, 0.6609rem + 0.6957vw, 1.2rem);

  /* heading -1: 16.00px → 24.00px */
  --heading--1: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);

  /* heading 0: 20.00px → 30.00px */
  --heading-0: clamp(1.25rem, 1.0326rem + 1.087vw, 1.875rem);

  /* heading 1: 25.00px → 37.50px */
  --heading-1: clamp(1.5625rem, 1.2908rem + 1.3587vw, 2.3438rem);

  /* heading 2: 31.25px → 46.88px */
  --heading-2: clamp(1.9531rem, 1.6133rem + 1.6989vw, 2.93rem);

  /* heading 3: 39.06px → 58.59px */
  --heading-3: clamp(2.4413rem, 2.0167rem + 2.1228vw, 3.6619rem);

  /* heading 4: 48.83px → 73.24px */
  --heading-4: clamp(3.0519rem, 2.5212rem + 2.6533vw, 4.5775rem);

  /* heading 5: 61.04px → 91.55px */
  --heading-5: clamp(3.815rem, 3.1517rem + 3.3163vw, 5.7219rem);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--bodyColor);
  background-color: var(--bgColor);
  background-image: 
      url(/img/bg-texture-2.jpg);
  font-family: Garbarito, 'segoe ui', sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.5;
  margin: 0;
  min-height: calc(100vh - 2rem);
}

.wrapper {
    min-height: calc(100vh - 2rem);
    width: 100%;
    display: grid;
    grid-template-columns: minmax(10px, 1fr) [content-start] repeat(6, minmax(auto, 10em)) [content-end] minmax(0.5em, 3fr);
    grid-template-rows: auto 35vh auto 2vh 1fr;
    grid-auto-rows: auto;
    background-color: var(--bgColor);


    mix-blend-mode: multiply;
  }
  .wrapper > * {
    padding-inline: 2em;
    grid-column: 2 / -2;
  }

  header {
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    & nav ul {
      display: flex;
      gap: 1em;
      list-style-type: none;
      padding: 0;
    }    
    background-image: url(/img/ready.svg);
    background-repeat: no-repeat;
    background-size: 60vw 35vh;
    background-position: center bottom;
  }
  
  .site-title {
    display: none;
  }
  .home-kind {
    & .wrapper {
      grid-template-rows: auto 50vh auto 32vh 1fr;
    }

    & header {
      min-height: 100vh;
      background-size: 80vw 105vh;
      }
    
    & .site-title {
      /* grid-area: stitle; */
      display: block;
      grid-column: 1/-1;
      grid-row: 3/4;
      font-weight: 700;
      font-size: var(--step-5);
      font-size: 11em;
      letter-spacing: -0.05em;
      line-height: 1;
      
      & a {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        gap: 0.0625em;
        color: var(--white);
      }
      & span:first-of-type {
        grid-column: 1 /-1;
        grid-row: 1 / 2;
        animation: backInLeft 0.5s ease-in 0.25s 1 normal backwards;
      }
      
      & span:last-of-type {
        grid-column: 3 /-1;
        grid-row: 1 / 2;
        font-size: 1.75em;
        color: transparent;
        -webkit-text-stroke: 0.25rem var(--white);
        -webkit-text-fill: transparent;
        animation: backInRight 0.35s ease-in 0.1s 1 normal backwards;
      }
    }
  }   
    .site-title,
    h1, h2, h3 {
    font-family: var(--headerFont);
  }

  nav.header-nav {
    width: auto;
    grid-column: -1/1;
    grid-row: 1/2;
    margin-top: 1em;
  }
nav.header-nav ul {
	margin: 0;
	font-family: var(--headerFont);
	font-weight: 600;
	font-size: var(--heading-1);
	line-height: 1;
	display: flex;
	justify-content: end;

  & li:first-child {
    margin-right: auto;
    width: max-content;
  }
}


main {
	background-color: var(--white);
	padding-block: 4em;
	display: grid;
	grid-column: 2 / -2;
	grid-row: span 99;
	grid-template-columns: subgrid;
	border-block: solid var(--accentColor) 2em;

  & p, ul, ol, blockquote {
    grid-column: 1 / -1;
    max-width: 60ch;
  }
  & .content a {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 2px;
  }
}


.page-kind main {
  display: block;
}

.time {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.25em;
  /* font-size: 0.85em; */
  text-transform: lowercase;
}
.terms {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
.terms > div {
  font-weight: bold;
  display: inline;
}
.terms ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1em;
}
.wrapper > footer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: auto;
    padding-inline: 0;
    padding-bottom: 1em;
    font-family: var(--headerFont);
    font-size: var(--heading-0);
    font-weight: 600;
}
.footer-nav ul {
  list-style-type: none;
  padding: 0;

  & li:first-child {
    display: none;
  }
}


.articles {
  grid-column: 1 / -1;
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1em;
}

article.post {
  grid-column: span 2;
  color: var(--black);
  & a {
    padding: 1em;
      border: solid 8px var(--black);
      display: block;
      height: 100%;
      transition: all 0.4s;
    }
    & h2 {
        font-size: var(--step-2);
        font-weight: 700;
        margin: 0;
    }
    & time {
      font-family: var(--headerFont);
      font-weight: 600;
      color: var(--accentColor);
    }
    & p {
        margin-top: 0;
    }
    & a:hover {
      border-color: var(--accentColor);
      }
    }
}

.links {
    margin-top: 3em;
    &h2 {
        margin-bottom: 0;
    }
}

.prev-next {
  margin: 4em 0 0 0;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.prev {
  text-align: right;
}
h1,
h2,
h3 {
  text-wrap: balance;
}
h1 {
  grid-column: 1 / -1;
    font-size: var(--heading-5);
    margin: 0;
    letter-spacing: -0.0125em;
    margin-bottom: 0.25em;
}
h2 {
      font-size: var(--heading-3);
      margin-bottom: 0.25em;
}
h3 {
      font-size: var(--heading-1);
      margin-bottom: 0.25em;
}
pre {
  padding: 0.5em;
  white-space: pre-wrap;
  background-color: #ccc;
}
code {
	color: #409917;
}
.gradient {
  padding: 0.5em;
      display: grid; 
    place-content: center; 
    color: #fff;
    width: min(600px, 70%); 
    aspect-ratio: 16 / 6; 

    & code {
      color: #fff;
      font-size: 0.8em;
    }
}
img {
    max-width: 100%;
}
a {
  color: var(--linkColor);
  text-decoration: none;
}

a.ancestor,
a.active {
  border-bottom-width: 6px;
  border-bottom-color: var(--accentColor);
  padding-bottom: 0px;
}

a.ancestor {
  border-bottom-style: dotted;
}
a.active {
  border-bottom-style: solid;
}

details {
  border-left: solid var(--accentColor) 8px;
  border-right: solid var(--accentColor) 8px;
  border-bottom: solid var(--accentColor) 8px;
  padding: 1em -1em 3em;
  /* background-color: #1114; */
}
details > *:not(summary) {
  margin-inline: 2rem;
}
details :last-child {
  margin-bottom: 4em;
}

details + details {
  margin-top: 2em;
}
summary {
  background-color: var(--accentColor);
  color: var(--white);
  padding: 0.5em;
  font-family: var(--headerFont);
  font-weight: 600;
  font-size: 1.5em;
}

.footnotes {
  margin-top: 4em;

  & hr {
    display: none;
  }
}
.footnotes ol::before {
  content: 'footnotes';
  display: block;
  margin-left: -2rem;
  font-family: var(--headerFont);
  color: var(--accentColor);
  font-size: 3em;
  font-weight: 600;
}

@media (max-width: 550px) {
  footer p:nth-child(2),
  .breadcrumbs {
    display: none;
  }
    nav.main ul {
      gap: .5em;
    }
    .copyright {
      display: none;
    }
}