<ul class="breadcrumbs">
  {{- range .Ancestors.Reverse }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .LinkTitle | upper }}</a> &gt;
  </li>
  {{- end }}
  
  <li class="active" aria-current="page">
    {{ .LinkTitle | upper }}
  </li>
</ul>