<p class="copyright"><a href="/">Hugo 120</a>. &copy;{{ now.Year }}. <br>All rights reserved.</p>

{{ partial "menu" (dict "nav_class" "footer-nav" "menuID" "main" "page" .) }}


<p class="hugo-version">Built with <a href="https://gohugo.io/">Hugo</a> v{{ hugo.Version }}
    <br>on {{ now.Format "2 Jan 06" }}</p>

<p class="login"><a href="/admin/">Login</a></p>