<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ .Description }}">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/googlefonts.html" . }}



{{ partial "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}