{{ if .Section }}

<div class="prev-next">
    {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}" class="prev" title="Previous {{ .Date.Format "2 Jan 06"  }}">Previous<br>&#10096;&#10096; {{ .LinkTitle }}</a>
    {{ end }}

    <a href="/{{ .Section }}">See all {{ .Section | title }}</a>
    
    {{ with .NextInSection }}
        <a href="{{ .RelPermalink }}" class="next" title="Next {{ .Date.Format "2/01/06" }}">Next<br>{{ .LinkTitle }} &#10097;&#10097;</a>
    {{ end }}
</div>

{{ end }}