<figure class="c4-izmir">
  <img src="https://source.unsplash.com/FaPxZ88yZrw/600x400" alt="Sample Image">
  <figcaption>
    <h3>This uses the Izmir animation library. This text in the h3</h3>
    <p>And more in a paragraph.</p>
  </figcaption>
</figure>